<a href="https://colab.research.google.com/github/amishra527/pythonbasic/blob/main/bado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3=[]
for  i in range(len(L2)):
    L3.append(L2[i] -L1[i])
L3

[-2, -6, -15, -4, -8]

In [ ]:
data = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
capitalized = [re.sub(r'^(.)(.*)$', lambda m: m.group(1).upper() + m.group(2).lower(), a)for a in data]
print(capitalized)

NameError: ignored

In [ ]:
a = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
res = [x.title() for x in a]
print(res)
#['Varma', 'Raj', 'Gupta', 'Sandeep']

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
i =0
while i<len(L1):
    print(L1[i]-L2[i], end=' ')
    i=i+1

2 6 15 4 8

In [ ]:
data = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

capitalized = [a.capitalize() for a in data]

print(capitalized)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [ ]:
l = []
for i in range(-100,0):
    if(i%2==0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [ ]:
list(range(-100,-1,2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [ ]:
sorted(set(range(-2,-101,-2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [ ]:
import ast, sys
n = int(input())
l=[x*x for x in range(1,n+1)]
l

4

[1, 4, 9, 16]

In [ ]:
novowelwords = []
words = ['who', 'what', 'when', 'where', 'why', 'sly', 'shy', 'bashful', 'coy', 'myth', 'hymn']
vowel = ['a', 'e', 'i', 'o', 'u']
for word in words:
    novowel = True    
    for letter in word:
        if letter in vowel:
            novowel=False
    if novowel == True:
       novowelwords.append(word)
print(novowelwords)

['why', 'sly', 'shy', 'myth', 'hymn']

In [ ]:
# initializing list 
test_list = ["all", "love", "and", "get", "educated", "by", "gfg"] 
# printing original list 
#print("The original list is : " + str(test_list))  
res = [] 
vow = "aeiou"
for sub in test_list: 
    flag = False
    # checking for begin char 
    for ele in vow: 
        if sub.startswith(ele): 
            flag = True 
            break
    if flag: 
        res.append(sub) 
# printing result  
print("The extracted words : " + str(res))

The extracted words : ['all', 'and', 'educated']

In [ ]:
res = [] 
vow = "aeiou"
for sub in test_list: 
    # check for vowel beginning 
    flag = any(sub.startswith(ele) for ele in vow) 
    if flag: 
        res.append(sub)  
# printing result  
print("The extracted words : " + str(res))

The extracted words : ['all', 'and', 'educated']

In [ ]:
import ast,sys
input_str = sys.stdin.read()
input_list = ast.literal_eval(input_str)
list_vowel =[s for s in input_list if s[0].lower() in 'aeiou' and s[-1] in 'aeiou']# [Type your answer here]
print(list_vowel)

SyntaxError: ignored

In [ ]:
input_list = list(range(1,100))
output_dict = {}
for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [ ]:
#output_dict= { if val%3==0 val:val**3 for val in input_list}

output_dict= {val:val**3 for val in input_list if val%3==0}

In [ ]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [ ]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [ ]:
def square(x, y):
    return (x**y)
print(square)

<function nsquare at 0x7f6e64897730>

In [ ]:
def func(x,y):
    z = x*y + x + y

func(2)

TypeError: ignored

In [ ]:
def func(x,y =1):
    z = x*y + x + y
    return z

func(2,func(3))

23

In [ ]:
def func(x,y):
    z = x*y + x + y
    return z

func(2,func(3))

TypeError: ignored

In [ ]:
def func(x=1 ,y=2):
    z = x*y + x + y
    return z

func(2,func(3))

35

In [ ]:
L1 =  [2,7,8,10,3]

def func(y):
    return y**2 - 2*y - 2

ans_list = [func(x) for x in L1]
ans_list

[-2, 33, 46, 78, 1]

In [ ]:
greater = lambda a, b: a if a > b else b

In [ ]:
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

In [ ]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996