[Based on Python data types, conditional statements & Loops]

Q1: Write a python program to add all the odd numbers from 0 to 20.

In [ ]:
n=20
m=0
for i in range(1,n+1,2):
    m+=i
print(m)

100

In [ ]:
n=20
print(sum([i for i in range(1,n+1,2)]))

In [ ]:
"""
for i in range(0, 11, 2): 
    print(i) 
sum(range(0, 11, 2)) 
"""

In [ ]:
"""
sum = 0 
for i in range(0, 11, 2): 
    print(i) 
    sum += i
"""

Q 2: Write a python program to find the sum of all integers greater than 100 and less than 200.

In [ ]:
sum = 0 
for i in range(100,200): 
	sum += i 
print(sum)

14950

In [ ]:
sum(range(100, 200))

Q3: Write a program to display the sum of square of the first ten even natural numbers

(2*2+ 4*4 + 6*6 + 8*8 + 10*10 + 12*12 + 14 * 14 + 16 * 16 + 18*18 + 20*20)

In [ ]:
s=0  
for i in range(1,20):  
   s+=i**2 
print(s)

2470

In [ ]:
n=20
m=0
for i in range(2,n+1,2):
    m+=i**2
print(m)

1540

 Q4: Write a python program to display ascii characters from 65 to 90

In [ ]:
for i in range(65,90):
    print(chr(i), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y

Q5: Display ascii characters from 48 to 57.

In [ ]:
for i in range(48,57):
    print(chr(i), end=" ")

0 1 2 3 4 5 6 7 8

Q6: Display the following output with the help of Ascii character.

In [ ]:
for i in range(97,122):
    print(chr(i), end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y

Q7: Write a python program for given a Python list you should be able to display Python list in the following order

L1 = [100, 200, 300, 400, 500]

Expected output:


[500, 400, 300, 200, 100]

In [ ]:
l1=[100,200,300,400,500]
l1.sort()
l2=l1
l2.reverse()
print(l2)

[500, 400, 300, 200, 100]

Q6: Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : 

dic1={1:10, 2:20} 

dic2={3:30, 4:40} 

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}  
dic2={3:30, 4:40}  
dic3={5:50,6:60}    
for d in (dic1, dic2, dic3): dic1.update(d)  
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Q7: Write a Python program to add key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
d1 = {0:10, 1:20}
print(d1)
d1.update({2:30})
print(d1)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

Q8: Write a Python program to print out a set containing all the colors from a list which are not present in another list
Test Data : 

color_list_1 = set(["White", "Black", "Red"]) 

color_list_2 = set(["Red", "Green"])

In [ ]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
color_list_1.union(color_list_2)

{'Black', 'Green', 'Red', 'White'}

Q9: Write a python program to concatenate following two lists index-wise:

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']

[ you can use zip() to concatenate sequences index-wise.so explore it and then try this exercise]

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

Q10: Given a Python list. Write a python program to turn every item of a list into its square 

List1 = [1, 2, 3, 4, 5, 6, 7]

Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
List1 = [1, 2, 3, 4, 5, 6, 7]
List1 =  [x * x for x in List1]
print(List1)

[1, 4, 9, 16, 25, 36, 49]

Q11: Program to count the number of each vowel in a string.

In [ ]:
str1 = 'Hello, how are you'
str1 = str1.casefold()
count = {x:sum([1 for char in str1 if char == x]) for x in 'aeiou'}
print(count)

{'a': 1, 'e': 2, 'i': 0, 'o': 3, 'u': 1}

In [ ]:
str=input("Enter string:")
vowels=0
for i in str:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:hi how are you
Number of vowels are:
6

Q12:Write a python program to Access the value of key ‘history’ from the following dictionary-

sampleDict = {


"class":{

"student":{

"name":"Mike",

"marks":{

"physics":70,

"history":80

}

}

}

}

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict['class']['student']['marks']['history'])

80

Q 13: write a Program to Remove Punctuations from a String provided by the user. [Hint: use punctuation attribute of string module to get all punctuations 

(i.e. !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ ) ]

In [ ]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
input_str = input("Enter a string: ")
final_str = ""
for char in input_str:
    if char not in punctuations:
        final_str += char
print(final_str)

Enter a string: hi, how? are's upo?
hi how ares upo

In [ ]:
import string
string.punctuation
input_str = input("Enter a string: ")
final_str = ""
for char in input_str:
    if char not in punctuations:
        final_str += char
print(final_str)

Enter a string: hi, how' are' you ;doing?
hi how are you doing

[Nested Loops]

Q14: Write a python program to print the Following:

1

12

123

In [ ]:
rows = 4
for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

In [ ]:
for i in range(1,4):
  for j in range (i,0,-1):
    print(j,end="")
  print("")

Q15: WAP to print the following asterisk pattern:

In [ ]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

Q16: WAP to create a function traiangle to print the following asterisk triangle pattern:

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Q17: Write a python program to print following multiplication table on the screen

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

In [ ]:
print

In [ ]:
"""
question?
n=int(input('Please enter a positive integer between 1 and 10: '))
for row in range(1,n+1):
    for col in range(1,n+1):
        print(row*col, end="\t")
    print()
"""

In [ ]:
"""
question?
n=9
m = list(list(range(1*i,(n+1)*i, i)) for i in range(1,n+1))
for i in m:
    i = [str(j).rjust(len(str(m[-1][-1]))+1) for j in i]
    print(''.join(i))
"""

In [ ]:
"""
question?
n=int(input('Please enter a positive integer between 1 and 20: '))
for row in range(1,n+1):
    print(*("{:3}".format(row*col) for col in range(1, n+1)))
"""

In [ ]:
"""
for i in range(1,11):
  print(" ",i,end=" ")
print(" +","- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ")
for i in range(1, 10+1):
  print("",i,end="|")
for j in range(i, (i*10)+1,i):
  print("",j,end="\t")
print()
"""

In [ ]:
def recur_fact(x):
  if x==1:
    return 1
  else:
    return(x*recur_fact(x-1))
num=int(input("enter a number : "))
if num>=1:
  print("the factorial of ",num,"is",recur_fact(num))

enter a number : 4
the factorial of  4 is 24