[Based on Python Data Types (String, List, Tuple & Conditional statements]

Q1: Write a Python program to sum all the items in a list.

In [ ]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Sum of elements in given list is :", sum(lst))

How many numbers: 3
Enter number 45
Enter number 55
Enter number 100
Sum of elements in given list is : 200

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

In [ ]:
list1 = [11, 5, 17, 18, 23]
total = sum(list1)
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
total = 0
list1 = [11, 5, 17, 18, 23]
for ele in range(0, len(list1)):
    total = total + list1[ele]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
total = 0
ele = 0
list1 = [11, 5, 17, 18, 23]
while(ele < len(list1)):
    total = total + list1[ele]
    ele += 1
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
list = [1, 2, 3]
sum(list)

6

Q2: Write a Python program to get the largest number from a list.

In [ ]:
list1 = [10, 20, 4, 45, 99]
list1.sort()
print("Largest element is:", list1[-1])

Largest element is: 99

In [ ]:
list1 = [10, 20, 4, 45, 99]
print("Largest element is:", max(list1))

Largest element is: 99

In [ ]:
list1 = []
num = int(input("Enter number of elements in list: "))
for i in range(1, num + 1):
    ele = int(input("Enter elements: "))
    list1.append(ele)
print("Largest element is:", max(list1))

Enter number of elements in list: 5
Enter elements: 14
Enter elements: 14
Enter elements: 14
Enter elements: 14
Enter elements: 14
Largest element is: 14

Q3: Write a Python program to get the smallest number from a list.

In [ ]:
list1 = [10, 20, 4, 45, 99]
list1.sort()
print("Smallest element is:", *list1[:1])

Smallest element is: 4

In [ ]:
list1 = [10, 20, 1, 45, 99]
print("Smallest element is:", min(list1))

Smallest element is: 1

In [ ]:
list1 = []
num = int(input("Enter number of elements in list: "))
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
print("Smallest element is:", min(list1))

Enter number of elements in list: 2
Enter elements: 5
Enter elements: 6
Smallest element is: 5

Q4: Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

Q5: Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string is already ends with 'ing' then add 'ly' instead.

In [ ]:
string = input()
if len(string) < 3:
  print(string)
elif string[-3:] == 'ing':
  print(string + 'ly')
else:
  print(string + 'ing')

str
string

In [ ]:
s=input("enter a string")
if(s[len]>2):
  if s[-3:]=='ing'
    s=s+'ly'
  else:
    s=s+'ing'
print(s)

SyntaxError: ignored

Q6: The marks obtained by a student in 5 different Subjects are input through a keyboard. The Student gets a division as per the following rules.

Percentage above or equal to 60 – First Division

Percentage between 50 and 59 – Second Division

Percentage between 40 and 49 – Third Division

Percentage less than 40 – Fail

Write a python program to Display the result based on the above Criteria.

In [ ]:
print("Enter Marks Obtained in 5 Subjects: ")
english = float(input(" Please enter English Marks: "))
math = float(input(" Please enter Math score: "))
computers = float(input(" Please enter Computer Marks: "))
physics = float(input(" Please enter Physics Marks: "))
chemistry = float(input(" Please enter Chemistry Marks: "))
total = english + math + computers + physics + chemistry
percentage = (total / 500) * 100
print("Total Marks = %.2f"  %total)
print("Marks Percentage = %.2f"  %percentage)
if(percentage >= 60):
    print("First Division")
elif(percentage >= 50):
    print("Second Division")
elif(percentage >= 40):
    print("Third Division")
else:
    print("Fail")

Enter Marks Obtained in 5 Subjects:
 Please enter English Marks: 78
 Please enter Math score: 87
 Please enter Computer Marks: 74
 Please enter Physics Marks: 36
 Please enter Chemistry Marks: 99
Total Marks = 374.00
Marks Percentage = 74.80
First Division

Q7: write a Python program to find the largest number among the three input numbers

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3
print("The largest number is", largest)

Enter first number: 45
Enter second number: 55
Enter third number: 65
The largest number is 65.0

Q8: Write a Python program to check if the input year is a leap year or not.

In [ ]:
year = int(input("Enter a year: ")) 
if (year % 4) == 0:
  print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

Q9: write a Program to check if a string is palindrome or not

In [ ]:
my_str = 'nitin'
rev_str = reversed(my_str)
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

TypeError: ignored

In [ ]:
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Q10: write a Program to sort alphabetically the words form a string provided by the user.
[You can use split() method to split string into a list of words. ]

In [ ]:
my_str = input("Enter a string: ")  
words = my_str.split()  
words.sort()    
for word in words:  
   print(word)

Enter a string: hi how are you
are
hi
how
you

In [ ]:
string1=input("Enter a string: ")
s=list(reversed(string1))
print(s)
s.sort()
for s1 in s:
  print(s1,end="")

Enter a string: cdac

TypeError: ignored

Q11: Given a nested list. Write a python program to extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

Given List:

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

Sub List to be added = ["h", "i", "j"]

Expected output:

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Q12: Write a python program for Given a Python list, to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:

list1 = [5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]